<!-- about -->
<section id="about" class="about lazy" data-src="{{ '/assets/img/about/about-img.png' | prepend: site.baseurl | prepend: site.url }}">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-heading">About</h1>
                <hr class="hr-heading">
                <p class="text-justify">
                    An ambitious and enthusiastic Computer Science graduate with core strengths including a strong
                    analytical ability, excellent communication and organisational skills, and an interest for the
                    way effective digital solutions evolve. Currently new seeking opportunities in web-related roles
                    following the completion of a BSc in Computer Science from City University London (now City,
                    University of London) and an MSc in Web Science and Big Data Analytics from University College
                    London.
                </p>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-graduation-cap fa-5x"></i>
                            <p>Computer Science Graduate</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-globe fa-5x"></i>
                            <p>Freelance Web Developer</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-paint-brush fa-5x"></i>
                            <p>Freelance Graphic Designer</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-youtube-play fa-5x"></i>
                            <p>Freelance Video Animator</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-plane fa-5x"></i>
                            <p>Traveller</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-cutlery fa-5x"></i>
                            <p>Foodie</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-gamepad fa-5x"></i>
                            <p>Gamer</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-futbol-o fa-5x"></i>
                            <p>Arsenal F.C. Fan</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about -->
<!-- end of about -->