<!-- cv -->
<section id="cv" class="cv">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="section-heading">Curriculum Vitae</h1>
                <hr class="hr-heading">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="section-item">
                            <i class="fa fa-file-pdf-o fa-5x"></i>
                            <p>PDF</p>
                            <a href="https://www.dropbox.com/s/jc67vterepl5ghq/sergiu-tripon-curriculum-vitae.pdf?dl=0" target="_blank" class="btn btn-light btn-md">Open</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="section-item">
                            <i class="fa fa-linkedin fa-5x"></i>
                            <p>LinkedIn</p>
                            <a href="https://uk.linkedin.com/in/sergiutripon" target="_blank" class="btn btn-light btn-md">Open</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="section-item">
                            <i class="fa fa-desktop fa-5x"></i>
                            <p>Represent.io</p>
                            <a href="https://represent.io/sergiutripon" target="_blank" class="btn btn-light btn-md">Open</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="section-item">
                            <i class="fa fa-behance fa-5x"></i>
                            <p>Behance</p>
                            <a href="https://www.behance.net/sergiutripon/resume" target="_blank" class="btn btn-light btn-md">Open</a>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.cv -->
<!-- end of cv -->