<!-- services -->
<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="section-heading">Services</h1>
                <hr class="hr-heading">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item section-item-special">
                            <i class="fa fa-code fa-5x"></i>
                            <p>Web Development/Design</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-html5 fa-5x"></i>
                            <p>Latest HTML5 markup</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-css3 fa-5x"></i>
                            <p>Latest CSS3 properties</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-arrows-h fa-5x"></i>
                            <p>Responsive design</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item section-item-special">
                            <i class="fa fa-youtube-play fa-5x"></i>
                            <p>Video Animation</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-users fa-5x"></i>
                            <p>Suitable for any company, project or individual</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-cubes fa-5x"></i>
                            <p>Large library of assets</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-music fa-5x"></i>
                            <p>Huge library of background sounds</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
                <hr>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item section-item-special">
                            <i class="fa fa-paint-brush fa-5x"></i>
                            <p>Graphic Design</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-adn fa-5x"></i>
                            <p>Logos</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-bullhorn fa-5x"></i>
                            <p>Advertising</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <div class="section-item">
                            <i class="fa fa-cogs fa-5x"></i>
                            <p>Other Marketing material</p>
                        </div>
                    </div>
                </div><!-- /.row (nested) -->
            </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.services -->
<!-- end of services -->