<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ["Lato:400,700:latin", "Montserrat:700:latin", "Amaranth", "Open Sans:300italic,600italic:latin"]
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    if(typeof jQuery === 'undefined'){
        document.write(unescape("%3Cscript type=\"text/javascript\" src=\"{{ '/assets/lib/jquery-3.2.1.min.js' | prepend: site.baseurl }}\"%3E%3C/script%3E"));
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.3/jquery.lazy.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.3/jquery.lazy.plugins.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

{% if site.contact.form %}
<script>
    var formspree_email = '{{ site.social.email.address }}';
</script>
<script src="{{ '/assets/js/contact.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

<script src="{{ '/assets/js/main.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>